@charset "UTF-8";

/* ----- Grundstil för webbsidan ----- */

html {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    background-color: #eee;
}

html,
body,
div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:hover,
a:visited,
a:link,
a:active {
    color: black;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    padding: 5px;
    background-color: #5679bf;
    display: flex;
    gap: 1rem;
}

nav li {
    padding: 5px;
    background-color: #9cb8e3;
    transition: all .5s;
}

nav li:hover {
    background-color: #d1dced;
}

section {
    flex-grow: 1;
    padding: 8px;
    background-color: white;
    max-width: 800px;
    margin: 0 auto;
}

/* ----- Stil för experiment i exemplet ----- */

.boxstyle {
    background-color: #9cb8e3;
    border: 3px solid #000000;
    margin: 20px 0;
    padding: 8px;
    width: 200px;
    height: 100px;
}

/* ----- Box 1 ----- */

#box1 {
    transition: all 1s;
}

#box1:hover {
    width: 400px;
    height: 200px;
    padding: 40px;
    border-radius: 100px;
}

/* ----- Bilden ----- */

.imgWrapper {
    height: 40px;
}

#img1 {
    position: absolute;
    width: 50px;
    transition: all 1s;
}

#img1:hover {
    width: 400px;
}