@charset "UTF-8";

/* ----- Grundstil för webbsidan ----- */

html {
    font-size: 16px;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

/* ----- Grid-layout för boxarna ----- */

.wrapper {
    /* Stil för elementet som omger boxarna */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    gap: 6px;
    grid-template-areas:
        "box1 box1 box2 box2 box3"
        "box4 box4 box4 box5 box3";
}

/* ----- Grid-stil för boxarna ----- */

.wrapper div {
    /* Stil för alla boxar */
    border: 4px solid #174572;
    padding: 10px;
}

.wrapper div:nth-child(1) {
    background-color: #4c699f;
    grid-area: box1;
}

.wrapper div:nth-child(2) {
    background-color: #7094c9;
    grid-area: box2;
}

.wrapper div:nth-child(3) {
    background-color: #9cb8e3;
    grid-area: box3;
}

.wrapper div:nth-child(4) {
    background-color: #b9c9e4;
    grid-area: box4;
}

.wrapper div:nth-child(5) {
    background-color: #cdd5e4;
    grid-area: box5;
}