@charset "UTF-8";

/* ----- Grundstil för webbsidan ----- */

html {
    font-size: 16px;
}

div,
figure,
figcaption {
    margin: 0;
    padding: 0;
}

h1,
h2 {
    margin-top: 0;
}

body {
    background-color: #f0f0f0;
    color: #000000;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

main {
    background-color: white;
    padding: 10px;
}

section {
    background-color: #eaeff8;
}

/* ----- Kod för experimentet ----- */

section {
    margin-top: 20px;
    height: 200px;
    padding: 10px;
    position: relative;
}

#box {
    background-color: #9cb8e3;
    border: 2px solid #000000;
    width: 200px;
    height: 100px;
    padding: 20px;
    position: absolute;
    top: 50px;
    left: 80px;
}

#images {
    display: flex;
    gap: 40px;
    justify-content: stretch;
}

figure {
    position: relative;
}

img {
    max-width: 100%;
}

figcaption {
    visibility: hidden;
    background-color: #e1e2e4;
    border: 2px solid #000000;
    box-shadow: 4px 4px 4px #999999;
    padding: 6px;
    /* margin: 20px; */
    position: absolute;
    bottom: 40px;
    right: 10px;
}


figure:hover figcaption {
    visibility: visible;
}