@charset "UTF-8";

/* ----- Grundstil för webbsidan ----- */

html {
    font-size: 16px;
}

div,
figure,
figcaption {
    margin: 0;
    padding: 0;
}

h1,
h2 {
    margin-top: 0;
}

body {
    background-color: #f0f0f0;
    color: #000000;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

main {
    background-color: white;
    padding: 10px;
}

section {
    background-color: #eaeff8;
}

/* ----- Kod för experimentet ----- */

section {
    margin: 20px 0;
    padding: 10px;
    position: relative;

    display: flex;
    gap: 20px;
}

section>.box {
    width: 120px;
    height: 120px;
    padding: 20px;
}

.box {
    background-color: #b9c9e3;
    border: 2px solid #000000;
}

#specialBox {
    background-color: #7094c9;
    /* position: absolute; */
    top: 40px;
    left: 40px;
}

.inner {
    background-color: #cdd5e4;
    position: absolute;
}

#images {
    position: relative;
}

figure {
    position: relative;
}

img {
    max-width: 100%;
}

figcaption {
    visibility: hidden;
    background-color: #e1e2e4;
    border: 2px solid #000000;
    box-shadow: 4px 4px 4px #999999;
    padding: 6px;
    /* margin: 20px; */
    position: absolute;
    bottom: 40px;
    right: 10px;
}


figure:hover figcaption {
    visibility: visible;
}