@charset "UTF-8";
/* CSS Document */

html {
	font-size: 16px;
}

body {
	max-width: 600px;
	margin: 40px auto;
	background: #69c;
	color: #fff;
	font-size: 1.2rem;
}

#globalNav {
	width: 100%;
	background: #06c;
	padding: 10px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline;
}

nav a {
	padding: 6px;
	text-decoration: none;
}

a:link,
a:visited {
	color: #ddd;
}

a:hover,
a:active {
	background: #309;
	color: #fff;
}

h1 {
	color: #03c;
	font-style: italic;
}

.alignRight {
	float: right;
}

.alignCenter {
	width: 200px;
	margin: 0 auto;
}
