@charset "UTF-8";

/* ----- Grundstil för webbsidan ----- */

html,
body,
div {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: #eee;
}

body {
    background-color: white;
    padding: 15px;
    max-width: 700px;
    margin: 0 auto;
    flex-direction: column;
}

/* ----- Stil för experiment i exemplet ----- */

fieldset {
    background-color: #e4edfb;
    margin-bottom: 1em;
    padding: 1em;
}

legend {
    font-weight: bold;
}

.twoColumns {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 1em;
    white-space: nowrap;
}

#field1 input {
    max-width: 30ch;
}