@charset "UTF-8";

/* ----- Grundstil för webbsidan ----- */

html {
    font-size: 16px;
}

body {
    background-color: #f0f0f0;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

h1,
h2 {
    margin-top: 0;
}

section {
    background-color: #eaeff8;
    margin-bottom: 10px;
    padding: 10px;
}

main {
    background-color: white;
    padding: 10px;
}

/* ----- Kod för experimentet ----- */

img {
    margin: 0px 10px 10px 0;
}

#img1 {
    float: right;
}

#img2 {
    float: left;
}

#part3::after {
    content: "";
    display: block;
    clear: both;
}