@charset "UTF-8";

/* Design med metoden "desktop first" */

/* ----- Grundstil för webbsidan ----- */

html {
    font-size: 16px;
}

body {
    /* Trycker ner sidfoten till botten av fönstret eller dokumentet */
    min-height: 100vh;
}

html,
body,
nav,
header,
main,
aside,
footer,
article,
section,
div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

#img1 {
    width: 600px;
}

/* ----- Layout ----- */

body {
    background-color: #f0f0f0;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: auto 150px minmax(0, 750px) auto;
    grid-template-rows: 100px auto 70px;
    grid-template-areas:
        ".      header header ."
        ".      nav    main   ."
        "footer footer footer footer";
}

nav {
    grid-area: nav;
    background-color: #9cb8e3;
}

header {
    grid-area: header;
    background-color: #7094c9;
    padding: 10px;
}

main {
    grid-area: main;
    background-color: white;
    padding: 10px;
}

aside {
    grid-area: aside;
    background-color: #b9c9e3;
    padding: 10px;
}

footer {
    grid-area: footer;
    background-color: #cdd5e4;
    padding: 10px;
}

/* ----- Stil för nav och header ----- */

nav li {
    display: block;
    list-style: none;
    margin-bottom: 2em;
}

nav a {
    text-decoration: none;
}

header h1 {
    margin-top: 0;
}

/* ----- Media queries ----- */

@media screen and (max-width: 550px) {
    body {
        grid-template-columns: auto;
        grid-template-rows: 100px min-content auto 70px;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
    }

    nav li {
        display: inline;
        margin-bottom: 0;
        margin-right: 2em;
    }
}

@media screen and (max-width: 360px) {
    body {
        grid-template-columns: auto;
        grid-template-rows: min-content min-content auto 70px;
        grid-template-areas:
            "nav"
            "header"
            "main"
            "footer";
    }

    header {
        font-size: 80%;
    }

    nav li {
        display: block;
        margin-right: 0;
    }
}