@charset "UTF-8";

/* ----- Grundstil för webbsidan ----- */

html {
    font-size: 16px;
}


h1,
h2 {
    margin-top: 0;
}

body {
    background-color: white;
    color: #000000;
    padding: 0 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

/* ----- Kod för experimentet ----- */

.box {
    border: 2px solid #000000;
    width: 100px;
    height: 60px;
    padding: 20px;
}

#box1 {
    background-color: #95b0df;
    position: absolute;
    top: 80px;
    left: 40px;
    z-index: 2;
}

#box2 {
    background-color: #cdd5e4;
    position: absolute;
    top: 130px;
    left: 70px;
    z-index: 1;
}

#box1:hover,
#box2:hover {
    z-index: 10;
}