@charset "UTF-8";

/* Experimentera med värdena i border-radius och box-shadow. */

/* ----- Grundstil för webbsidan ----- */

html {
    font-size: 16px;
}

body {
    background-color: #f5e6cb;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 600px;
    margin: 0 auto;
}

/* ----- Kod för experimentet ----- */

#box1 { /* Stil för alla boxar */
    background-color: #9cb8e3;
    border: 2px solid #000000;
    width: 120px;
    height: 60px;
    padding: 20px;
    margin: 40px;
    display: block;

    border-radius: 15px;
    /* border-radius: 25% 25% 0 0; */

    box-shadow: 4px 4px 10px 4px #838383;
}

.wrapper img {
    width: 150px;
    margin: 20px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 5px 5px 20px 10px #988965;
}