/* ----- Grundstil för webbsidan ----- */

html {
    font-size: 16px;
}

body {
    background-color: #f5e6cb;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: block;
    /* display: inline; */
}

nav a {
    text-decoration: none;
    color: #000000;
    padding: 10px;
    margin-bottom: 20px;
    width: 150px;
    display: inline-block;
}

/* ----- Kod för experimentet ----- */


nav a:link,
nav a:visited {
    background-color: #cecef2;
}

nav a:hover,
nav a:active {
    background-color: #71e6a6;
}

nav a.current {
    background-color: #9393c7;
}