@charset "UTF-8";

/* ----- Grundstil för webbsidan ----- */

html {
    font-size: 16px;
}

html,
body,
div {
    margin: 0;
    padding: 0 8px;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

/* ----- Stil för experiment i exemplet ----- */

h1 {
    transform: rotate(-2deg);
}

.boxes {
    display: flex;
    gap: 2em;
}

.boxes .box {
    position: absolute;
}

.boxWrap {
    /* Omgivande element */
    position: relative;
}

.box {
    /* Inre box */
    background-color: #9cb8e3;
    border: 2px solid #000000;
    margin: 0;
    padding: 10px;
    width: 200px;
}

/* ----- Visa/dölj box 1 ----- */
#showbox1~.box {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}

#showbox1:checked~.box {
    transform: scaleY(1);
}

/* ----- Visa/dölj box 2 ----- */
#showbox2~.box {
    /* pointer-events: none; */
    opacity: 0;
    transition: opacity 1s;
}

#showbox2:checked~.box {
    /* pointer-events: unset; */
    opacity: 1;
}


/* ----- Visa/dölj box 3 ----- */

.wrap3>div {
    /* Inre element som omger boxen */
    position: absolute;
    overflow: hidden;
    /* Den del av boxen som inte får plats, ska döljas */
}

.wrap3 .box {
    /* Box 3 */
    background-color: #688bd0;
}

#showbox3~div>.box {
    /* Box 3 */
    transform: translateY(-100%);
    transition: transform 0.5s;
}

#showbox3:checked~div>.box {
    transform: translateY(0px);
}