@charset "UTF-8";

/* Experimentera med olika värden för flex-egenskaperna i .wrapper och .wrapper div */

/* ----- Grundstil för webbsidan ----- */

html {
    font-size: 16px;
}

body {
    background-color: white;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ----- Kod för experimentet ----- */

section {
    /* Omgivande element */
    background-color: #eaeff8;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: start;
    /* align-items: center; */
}

section div {
    /* Inre element (boxarna) */
    border: 2px solid #000000;
    background-color: #c1cddf;
    padding: 4px;
    flex-basis: 120px;
    flex-grow: 0;
    flex-shrink: 0;
}

#specialBox {
    background-color: #9cb8e3;
    flex-grow: 0;
    flex-shrink: 0;
}