@charset "UTF-8";

/* Experimentera med olika värden för overflow. */

/* ----- Grundstil för webbsidan ----- */

html {
    font-size: 16px;
}

body {
    background-color: #f5e6cb;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 600px;
    margin: 0 auto;
}

/* ----- Kod för experimentet ----- */

#box1 {
    border: 1px solid #000000;
    background-color: #c3e1ed;
    width: 400px;
    height: 200px;
    margin: 40px;
    padding: 10px;
    overflow: auto;
}

#map {
    width: 250px;
    height: 250px;
    margin: 40px;
    overflow: scroll;
}