@charset "UTF-8";

/* ----- Grundstil för webbsidan ----- */

html {
    font-size: 16px;
}

body {
    background-color: #f5e6cb;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

/* ----- Kod för experimentet ----- */

.floatImg {
    float: left;
    margin: 20px;
}

#part2 {
    clear: both;
}

#part3 {
    border: 4px solid #2563a2;
    padding: 20px;
}

#part3::after {
    content: "";
    display: block;
    clear: both;
}

#part3 h2 {
    margin: 0;
}

#part3 img {
    float: left;
    margin-right: 10px;
}